<div class="container">
    <div class="table-responsive col-sm-6 col-sm-offset-3">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TaskName</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks">
                    <td>{{task.id}}</td>
                    <td>{{task.taskName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

